@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?5ikgm0');
  src:  url('fonts/icomoon.eot?5ikgm0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?5ikgm0') format('truetype'),
    url('fonts/icomoon.woff?5ikgm0') format('woff'),
    url('fonts/icomoon.svg?5ikgm0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-help-circle:before {
  content: "\e920";
}
.icon-minus1:before {
  content: "\e91e";
}
.icon-plus:before {
  content: "\e91f";
}
.icon-location-outline:before {
  content: "\e91c";
}
.icon-location1:before {
  content: "\e91d";
}
.icon-map-pin:before {
  content: "\e91b";
}
.icon-arrow-down-left:before {
  content: "\e912";
}
.icon-arrow-down-right:before {
  content: "\e913";
}
.icon-arrow-up-left:before {
  content: "\e914";
}
.icon-arrow-up-right:before {
  content: "\e915";
}
.icon-arrow-right:before {
  content: "\e916";
}
.icon-arrow-left:before {
  content: "\e917";
}
.icon-arrow-down:before {
  content: "\e918";
}
.icon-arrow-up:before {
  content: "\e919";
}
.icon-clear:before {
  content: "\e911";
}
.icon-keyboard_arrow_up:before {
  content: "\e910";
}
.icon-keyboard_arrow_down:before {
  content: "\e90f";
}
.icon-radio_button_on:before {
  content: "\e90d";
}
.icon-panorama_fisheye:before {
  content: "\e90e";
}
.icon-navigate_next:before {
  content: "\e90b";
}
.icon-navigate_before:before {
  content: "\e90c";
}
.icon-menu:before {
  content: "\e90a";
}
.icon-home_filled:before {
  content: "\e909";
}
.icon-settings_applications:before {
  content: "\e908";
}
.icon-apps:before {
  content: "\e906";
}
.icon-work:before {
  content: "\e907";
}
.icon-question:before {
  content: "\f128";
}
.icon-check-square-o:before {
  content: "\f046";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-question-circle:before {
  content: "\f059";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-times-circle-o:before {
  content: "\f05c";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-bar-chart:before {
  content: "\f080";
}
.icon-bar-chart-o:before {
  content: "\f080";
}
.icon-shield:before {
  content: "\f132";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-institution:before {
  content: "\f19c";
}
.icon-university:before {
  content: "\f19c";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-mortar-board:before {
  content: "\f19d";
}
.icon-wheelchair:before {
  content: "\e905";
}
.icon-chevron-right:before {
  content: "\e901";
}
.icon-chevron-left:before {
  content: "\e902";
}
.icon-chevron-down:before {
  content: "\e903";
}
.icon-chevron-up:before {
  content: "\e904";
}
.icon-th-large:before {
  content: "\e900";
}
.icon-quill:before {
  content: "\e91a";
}
.icon-library:before {
  content: "\e921";
}
.icon-location:before {
  content: "\e947";
}
.icon-location2:before {
  content: "\e948";
}
.icon-map:before {
  content: "\e94b";
}
.icon-search:before {
  content: "\e986";
}
.icon-aid-kit:before {
  content: "\e998";
}
.icon-stats-bars:before {
  content: "\e99c";
}
.icon-leaf:before {
  content: "\e9a4";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-minus:before {
  content: "\ea0b";
}
.icon-info:before {
  content: "\ea0c";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
